header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #0e0d0d;
  padding: 0px 10px;
  z-index: 10;
}

header a {
  color: inherit;
  text-decoration: none;
}

header a:hover {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 60%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2vh;
}

header nav .nav-logo img {
  height: 80px;
}

header nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .nav-links span {
  color: lavenderblush;
  margin: 0 10px;
}

@media screen and (max-width: 1024px) {
  header nav {
    max-width: 75%;
  }
}

@media screen and (max-width: 768px) {
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 90%;
  }
  header nav .nav-logo img {
    height: 80px;
  }
  header nav .nav-links {
    display: none;
  }
  header nav .nav-links-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    color: lavenderblush;
    background-color: rgba(14, 13, 13, 0.6);
    bottom: 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0;
    width: 100vw;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 40vh;
    padding-right: 20px;
    -webkit-animation: reveal 0.3s ease-out;
            animation: reveal 0.3s ease-out;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  header nav .nav-links-active span {
    color: lavenderblush;
    margin: 0 10px;
  }
  header nav .burger {
    z-index: 10;
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    border-radius: 50%;
    padding: 10px;
    background: -webkit-gradient(linear, left top, right top, from(#a77516), to(#d9c84e));
    background: linear-gradient(to right, #a77516, #d9c84e);
  }
  header nav .burger span {
    background-color: lavenderblush;
    height: 3px;
  }
  header nav .burger span:nth-of-type(1) {
    width: 100%;
  }
  header nav .burger span:nth-of-type(2) {
    width: 75%;
  }
  header nav .burger span:nth-of-type(3) {
    width: 50%;
  }
  header nav .burger-active span {
    width: 100%;
  }
  header nav .burger-active span:nth-of-type(1) {
    -webkit-transform: rotate(45deg) translate(4.5px, 5.5px);
            transform: rotate(45deg) translate(4.5px, 5.5px);
  }
  header nav .burger-active span:nth-of-type(2) {
    opacity: 0;
  }
  header nav .burger-active span:nth-of-type(3) {
    width: 100% !important;
    -webkit-transform: rotate(-45deg) translate(4.5px, -5.5px);
            transform: rotate(-45deg) translate(4.5px, -5.5px);
  }
}

@-webkit-keyframes reveal {
  from {
    height: 0%;
  }
  to {
    height: 40vh;
  }
}

@keyframes reveal {
  from {
    height: 0%;
  }
  to {
    height: 40vh;
  }
}
/*# sourceMappingURL=header.css.map */