@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #0e0d0d;
  padding: 0px 10px;
  z-index: 10;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 60%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2vh;
}

header nav .nav-logo img {
  height: 80px;
}

header nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .nav-links span {
  color: lavenderblush;
  margin: 0 10px;
}

@media screen and (max-width: 768px) {
  header nav {
    max-width: 75%;
  }
}

@media screen and (max-width: 768px) {
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 90%;
  }
  header nav .nav-logo img {
    height: 80px;
  }
  header nav .nav-links {
    display: none;
  }
  header nav .nav-links-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    color: lavenderblush;
    background-color: rgba(255, 240, 245, 0.4);
    bottom: 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: transparent;
    left: 0;
    width: 100vw;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 40vh;
    padding-right: 20px;
    -webkit-animation: reveal 0.3s ease-out;
            animation: reveal 0.3s ease-out;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  header nav .nav-links-active span {
    color: lavenderblush;
    margin: 0 10px;
  }
  header nav .burger {
    z-index: 10;
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    border-radius: 50%;
    padding: 10px;
    background-color: #bf9d31;
  }
  header nav .burger span {
    background-color: lavenderblush;
    height: 3px;
  }
  header nav .burger span:nth-of-type(1) {
    width: 100%;
  }
  header nav .burger span:nth-of-type(2) {
    width: 75%;
  }
  header nav .burger span:nth-of-type(3) {
    width: 50%;
  }
  header nav .burger-active span {
    width: 100%;
  }
  header nav .burger-active span:nth-of-type(1) {
    -webkit-transform: rotate(45deg) translate(4.5px, 5.5px);
            transform: rotate(45deg) translate(4.5px, 5.5px);
  }
  header nav .burger-active span:nth-of-type(2) {
    opacity: 0;
  }
  header nav .burger-active span:nth-of-type(3) {
    width: 100% !important;
    -webkit-transform: rotate(-45deg) translate(4.5px, -5.5px);
            transform: rotate(-45deg) translate(4.5px, -5.5px);
  }
}

@-webkit-keyframes reveal {
  from {
    height: 0%;
  }
  to {
    height: 40vh;
  }
}

@keyframes reveal {
  from {
    height: 0%;
  }
  to {
    height: 40vh;
  }
}

body {
  font-family: "Bebas Neue", cursive;
  background-color: #0e0d0d;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.fa {
  display: none;
}

@media screen and (max-width: 768px) {
  .fa {
    margin-left: 20px;
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
    display: inline-block;
  }
}

.active {
  opacity: 0.1;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
}

main .hero img {
  width: 80vw;
  opacity: 0.1;
}

@media screen and (min-width: 1024px) {
  main .hero img {
    height: 70vh;
    opacity: 0.1;
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  main .hero img {
    opacity: 0.2;
    z-index: -1;
  }
}

section {
  max-width: 70%;
  margin: 2vh auto;
  margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  section {
    max-width: 90%;
    text-align: justify;
  }
}

.face {
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 100px;
}

.face .title-container {
  width: 50vw;
  height: 50vh;
  background-color: lavenderblush;
  float: right;
  border-radius: 5px;
  background-image: url("https://images.pexels.com/photos/3228685/pexels-photo-3228685.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.face .title-container h1 {
  letter-spacing: 4px;
  position: relative;
  top: 35vh;
  left: -15vw;
  font-size: 8rem;
  -webkit-text-stroke: 2px #0e0d0d;
  -webkit-text-fill-color: lavenderblush;
}

@media screen and (max-width: 1024px) {
  .face .title-container h1 {
    left: -20vw;
    font-size: 6rem;
    -webkit-text-fill-color: lavenderblush;
  }
}

@media screen and (max-width: 768px) {
  .face .title-container {
    width: 70vw;
    height: 60vh;
  }
  .face .title-container h1 {
    letter-spacing: 2px;
    top: 40vh;
    font-size: 4rem;
    -webkit-text-stroke: 1px #0e0d0d;
  }
}
/*# sourceMappingURL=main.css.map */