* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.4s;
}

@import "./variables.scss";
@import "./header.scss";

body {
  font-family: $font_1;
  background-color: #0e0d0d;
}


main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  .hero {
    img {
      width: 80vw;
      opacity: 0.1;
    }
  }
}

@media screen and (max-width: 768px) {
  main {
    .hero {
      img {
        opacity: 0.2;
        z-index: -1;
      }
    }
  }
}
