@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Poppins&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #0e0d0d;
  padding: 0px 10px;
  z-index: 10;
}

header a {
  color: inherit;
  text-decoration: none;
}

header a:hover {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 60%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2vh;
}

header nav .nav-logo img {
  height: 80px;
}

header nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .nav-links span {
  color: lavenderblush;
  margin: 0 10px;
}

@media screen and (max-width: 1024px) {
  header nav {
    max-width: 75%;
  }
}

@media screen and (max-width: 768px) {
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 90%;
  }
  header nav .nav-logo img {
    height: 80px;
  }
  header nav .nav-links {
    display: none;
  }
  header nav .nav-links-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    color: lavenderblush;
    background-color: rgba(14, 13, 13, 0.6);
    bottom: 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0;
    width: 100vw;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 40vh;
    padding-right: 20px;
    -webkit-animation: reveal 0.3s ease-out;
            animation: reveal 0.3s ease-out;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  header nav .nav-links-active span {
    color: lavenderblush;
    margin: 0 10px;
  }
  header nav .burger {
    z-index: 10;
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    border-radius: 50%;
    padding: 10px;
    background: -webkit-gradient(linear, left top, right top, from(#a77516), to(#d9c84e));
    background: linear-gradient(to right, #a77516, #d9c84e);
  }
  header nav .burger span {
    background-color: lavenderblush;
    height: 3px;
  }
  header nav .burger span:nth-of-type(1) {
    width: 100%;
  }
  header nav .burger span:nth-of-type(2) {
    width: 75%;
  }
  header nav .burger span:nth-of-type(3) {
    width: 50%;
  }
  header nav .burger-active span {
    width: 100%;
  }
  header nav .burger-active span:nth-of-type(1) {
    -webkit-transform: rotate(45deg) translate(4.5px, 5.5px);
            transform: rotate(45deg) translate(4.5px, 5.5px);
  }
  header nav .burger-active span:nth-of-type(2) {
    opacity: 0;
  }
  header nav .burger-active span:nth-of-type(3) {
    width: 100% !important;
    -webkit-transform: rotate(-45deg) translate(4.5px, -5.5px);
            transform: rotate(-45deg) translate(4.5px, -5.5px);
  }
}

@-webkit-keyframes reveal {
  from {
    height: 0%;
  }
  to {
    height: 40vh;
  }
}

@keyframes reveal {
  from {
    height: 0%;
  }
  to {
    height: 40vh;
  }
}

.pop-up {
  position: fixed;
  top: 0;
  left: 5vw;
  width: 90vw;
  height: 79vh;
  display: block;
  margin: 100px auto;
  background-color: lavenderblush;
  color: black;
  padding-top: 100px;
  border-radius: 10px !important;
  display: none;
  -webkit-animation: scaleUp 0.6s alternate;
          animation: scaleUp 0.6s alternate;
}

.pop-up .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 95%;
  margin: 0 auto;
  position: relative;
  top: -85px;
  padding-right: 5px;
  max-width: 95%;
  margin: auto;
}

.pop-up .menu .fa {
  display: block !important;
}

.pop-up .pop-up-body {
  max-width: 80%;
  margin: auto;
}

.pop-up .pop-up-body .contents {
  max-width: 70%;
  width: auto;
  margin: auto;
}

.pop-up .pop-up-body .contents img {
  max-height: 250px;
  display: block;
  margin: auto;
  width: auto;
}

.pop-up .pop-up-body .contents .pop-up-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.pop-up .pop-up-body .contents .pop-up-navigation div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
  -webkit-animation: pulse 1.6s infinite;
          animation: pulse 1.6s infinite;
  cursor: pointer;
  margin-top: -100px;
}

.pop-up .pop-up-body .contents .pop-up-navigation #left {
  margin-left: -100px;
}

.pop-up .pop-up-body .contents .pop-up-navigation #right {
  margin-right: -100px;
}

.pop-up .pop-up-body .contents #pop-up-rules {
  max-height: 40vh;
  overflow: scroll;
  overflow-x: hidden;
}

.pop-up .pop-up-body .contact {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  padding: 10px;
  -webkit-box-shadow: 0px -2px 20px;
          box-shadow: 0px -2px 20px;
}

.pop-up .pop-up-body .contact i {
  -webkit-transform: none;
          transform: none;
}

.pop-up .pop-up-body .details {
  margin-top: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.pop-up .pop-up-body .details img {
  width: auto;
  max-height: 250px;
}

.pop-up .pop-up-body .details .description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1024px) {
  .pop-up .pop-up-body .contents {
    max-width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .pop-up .pop-up-body .contents {
    max-width: 90%;
    text-align: justify;
  }
  .pop-up .pop-up-body .contents img {
    display: block;
  }
  .pop-up .pop-up-body .contents .pop-up-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px;
  }
  .pop-up .pop-up-body .contents .pop-up-navigation div {
    margin-top: -200px;
  }
  .pop-up .pop-up-body .contents .pop-up-navigation div i {
    -webkit-transform: none;
            transform: none;
  }
  .pop-up .pop-up-body .contents .pop-up-navigation div .fa {
    margin-left: 0;
  }
  .pop-up .pop-up-body .contents .pop-up-navigation #left {
    margin-left: -50px;
  }
  .pop-up .pop-up-body .contents .pop-up-navigation #right {
    margin-right: -50px;
  }
  .pop-up .pop-up-body .contents #pop-up-rules {
    max-height: 30vh;
  }
  .pop-up .pop-up-body .details {
    display: block;
    padding: 10px 0;
    border-bottom: solid 1px gray;
  }
}

@-webkit-keyframes scaleUp {
  from {
    -webkit-transform: scale(0) rotate(360deg);
            transform: scale(0) rotate(360deg);
  }
  to {
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
  }
}

@keyframes scaleUp {
  from {
    -webkit-transform: scale(0) rotate(360deg);
            transform: scale(0) rotate(360deg);
  }
  to {
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

body {
  font-family: "Bebas Neue", cursive;
  background-color: #0e0d0d;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.fa {
  display: none;
}

hr {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .fa {
    margin-left: 20px;
    display: inline-block;
  }
}

.active {
  opacity: 0.1;
}

main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
}

main .hero img {
  width: 80vw;
  opacity: 0.1;
}

#particles-js {
  width: 100vw !important;
  height: 100vh !important;
  color: lavenderblush;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1024px) {
  main .hero img {
    height: 70vh;
    opacity: 0.1;
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  main .hero img {
    opacity: 0.2;
    z-index: -1;
  }
}

section {
  max-width: 70%;
  margin: 2vh auto;
  margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  section {
    max-width: 90%;
    text-align: justify;
  }
}

.face {
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  padding-top: 50px;
}

.face .down-arrow {
  position: relative;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 65vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.face .down-arrow i {
  display: block;
  color: lavender;
  border: solid 1px;
  padding: 10px;
  border-radius: 50%;
  -webkit-animation: jump 0.6s alternate infinite;
          animation: jump 0.6s alternate infinite;
  cursor: pointer;
}

.face .down-arrow i:hover {
  -webkit-animation: none;
          animation: none;
}

.face .title-container {
  width: 50vw;
  height: 50vh;
  background-color: lavenderblush;
  float: right;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.face .title-container h1 {
  letter-spacing: 4px;
  position: relative;
  top: 35vh;
  left: -15vw;
  font-size: 8rem;
  -webkit-text-stroke: 2px #0e0d0d;
  -webkit-text-fill-color: lavenderblush;
}

@media screen and (max-width: 1024px) {
  .face .title-container h1 {
    left: -20vw;
    font-size: 6rem;
    -webkit-text-fill-color: lavenderblush;
  }
}

@media screen and (max-width: 768px) {
  .face .title-container {
    width: 70vw;
    height: 60vh;
  }
  .face .title-container h1 {
    letter-spacing: 1px;
    top: 40vh;
    font-size: 4rem;
    -webkit-text-stroke: 1px #0e0d0d;
  }
}

.loading {
  position: fixed !important;
  top: 0 !important;
  z-index: 10;
  left: 0;
  background-color: #0e0d0d;
  width: 100vw;
  height: 100vh;
  max-width: none;
  max-height: none;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading .circle {
  border: 3px solid;
  padding: 4px;
  -webkit-animation: 1s rotate linear infinite;
          animation: 1s rotate linear infinite;
  border-radius: 50%;
  color: lavenderblush;
}

.loading .outer {
  border-top-color: transparent;
}

.loading .outer .inner {
  border-left-color: transparent;
  padding: 10px;
  animation-direction: reverse;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes jump {
  from {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes jump {
  from {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

#content-page,
#workshop-page {
  width: 100vw;
  min-height: 75vh;
  color: lavenderblush;
  padding-top: 100px;
}

.card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding-top: 10px !important;
}

.card-container .card {
  height: 400px;
  max-height: 400px;
  min-height: 400px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 2px;
          box-shadow: 0px 0px 2px;
}

.card-container .card:hover {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.card-container .card img {
  height: 300px;
  max-height: 300px;
  min-height: 300px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card-container .card .card-img {
  margin-bottom: 10px;
}

.card-container .card .dept-name {
  background-color: crimson;
  padding: 2px 10px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 50px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  right: 0;
}

@media screen and (min-width: 1024px) {
  .card-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  .card-container .card {
    padding: 10px;
    border: solid 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-container .card:hover {
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  .card-container .card:nth-of-type(1) {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .card-container .card:nth-of-type(4) {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: -1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .card-container .card:nth-of-type(5) {
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 6;
  }
}

@media screen and (max-width: 1024px) {
  .card-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .card-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@-webkit-keyframes test {
  11.1% {
    -webkit-transform: none;
            transform: none;
  }
  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
            transform: skewX(-12.5deg) skewY(-12.5deg);
  }
  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
            transform: skewX(6.25deg) skewY(6.25deg);
  }
  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
            transform: skewX(-3.125deg) skewY(-3.125deg);
  }
  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
            transform: skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
            transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }
  77.7% {
    -webkit-transform: skewX(0.39062deg) skewY(0.39062deg);
            transform: skewX(0.39062deg) skewY(0.39062deg);
  }
  88.8% {
    -webkit-transform: skewX(-0.19531deg) skewY(-0.19531deg);
            transform: skewX(-0.19531deg) skewY(-0.19531deg);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes test {
  11.1% {
    -webkit-transform: none;
            transform: none;
  }
  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
            transform: skewX(-12.5deg) skewY(-12.5deg);
  }
  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
            transform: skewX(6.25deg) skewY(6.25deg);
  }
  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
            transform: skewX(-3.125deg) skewY(-3.125deg);
  }
  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
            transform: skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
            transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }
  77.7% {
    -webkit-transform: skewX(0.39062deg) skewY(0.39062deg);
            transform: skewX(0.39062deg) skewY(0.39062deg);
  }
  88.8% {
    -webkit-transform: skewX(-0.19531deg) skewY(-0.19531deg);
            transform: skewX(-0.19531deg) skewY(-0.19531deg);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.content {
  position: absolute;
  padding-top: 100px;
  top: 0;
  left: 0;
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
  color: lavenderblush;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content h1 {
  font-size: 3rem !important;
  letter-spacing: 1px;
}

@media screen and (max-width: 1024px) {
  .content h1 {
    font-size: 2rem !important;
  }
}

@media screen and (max-width: 768px) {
  .content h1 {
    font-size: 1rem !important;
  }
}

footer {
  color: lavenderblush;
  text-align: center;
  padding: 50px;
  font-family: "Poppins", sans-serif;
}

footer div {
  letter-spacing: 8px;
}

.nav-menu {
  position: fixed;
  top: 50vh;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  background-color: crimson;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

.nav-menu div {
  padding: 10px;
}

.nav-menu .fa {
  margin: 0;
}

.nav-menu #slide-btn {
  text-align: left;
}

.nav-menu .menu-contents {
  width: 100px;
  max-width: 100px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-menu .menu-contents a {
  padding: 5px 0;
}

.nav-menu-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav-menu-active .fa {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (min-width: 768px) {
  .nav-menu {
    position: fixed;
    top: 50vh;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    background-color: crimson;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  .nav-menu .fa {
    display: block;
  }
  .nav-menu div {
    padding: 10px;
  }
  .nav-menu .fa {
    margin: 0;
  }
  .nav-menu #slide-btn {
    text-align: left;
  }
  .nav-menu .menu-contents {
    width: 100px;
    max-width: 100px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-menu .menu-contents a {
    padding: 5px 0;
  }
  .nav-menu-active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav-menu-active .fa {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.disabled {
  opacity: 0.1;
}

#pop-up-image {
  max-height: 20vh !important;
}
/*# sourceMappingURL=main.css.map */