.pop-up {
  position: fixed;
  top: 0;
  left: 5vw;
  width: 90vw;
  height: 79vh;
  display: block;
  margin: 100px auto;
  background-color: lavenderblush;
  color: black;
  padding-top: 100px;
  border-radius: 10px !important;
  display: none;
  -webkit-animation: scaleUp 0.6s alternate;
          animation: scaleUp 0.6s alternate;
}

.pop-up .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 95%;
  margin: 0 auto;
  position: relative;
  top: -85px;
  padding-right: 5px;
  max-width: 95%;
  margin: auto;
}

.pop-up .menu .fa {
  display: block !important;
}

.pop-up .pop-up-body {
  max-width: 80%;
  margin: auto;
}

.pop-up .pop-up-body .contents {
  max-width: 70%;
  width: auto;
  margin: auto;
}

.pop-up .pop-up-body .contents img {
  max-height: 250px;
  display: block;
  margin: auto;
  width: auto;
}

.pop-up .pop-up-body .contents .pop-up-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.pop-up .pop-up-body .contents .pop-up-navigation div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
  -webkit-animation: pulse 1.6s infinite;
          animation: pulse 1.6s infinite;
  cursor: pointer;
  margin-top: -100px;
}

.pop-up .pop-up-body .contents .pop-up-navigation #left {
  margin-left: -100px;
}

.pop-up .pop-up-body .contents .pop-up-navigation #right {
  margin-right: -100px;
}

.pop-up .pop-up-body .contents #pop-up-rules {
  max-height: 40vh;
  overflow: scroll;
  overflow-x: hidden;
}

.pop-up .pop-up-body .contact {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  padding: 10px;
  -webkit-box-shadow: 0px -2px 20px;
          box-shadow: 0px -2px 20px;
}

.pop-up .pop-up-body .contact i {
  -webkit-transform: none;
          transform: none;
}

.pop-up .pop-up-body .details {
  margin-top: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.pop-up .pop-up-body .details img {
  width: auto;
  max-height: 250px;
}

.pop-up .pop-up-body .details .description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

@media screen and (max-width: 1024px) {
  .pop-up .pop-up-body .contents {
    max-width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .pop-up .pop-up-body .contents {
    max-width: 90%;
    text-align: justify;
  }
  .pop-up .pop-up-body .contents img {
    display: block;
  }
  .pop-up .pop-up-body .contents .pop-up-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px;
  }
  .pop-up .pop-up-body .contents .pop-up-navigation div {
    margin-top: -200px;
  }
  .pop-up .pop-up-body .contents .pop-up-navigation div i {
    -webkit-transform: none;
            transform: none;
  }
  .pop-up .pop-up-body .contents .pop-up-navigation div .fa {
    margin-left: 0;
  }
  .pop-up .pop-up-body .contents .pop-up-navigation #left {
    margin-left: -50px;
  }
  .pop-up .pop-up-body .contents .pop-up-navigation #right {
    margin-right: -50px;
  }
  .pop-up .pop-up-body .contents #pop-up-rules {
    max-height: 30vh;
  }
  .pop-up .pop-up-body .details {
    display: block;
    padding: 10px 0;
    border-bottom: solid 1px gray;
  }
}

@-webkit-keyframes scaleUp {
  from {
    -webkit-transform: scale(0) rotate(360deg);
            transform: scale(0) rotate(360deg);
  }
  to {
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
  }
}

@keyframes scaleUp {
  from {
    -webkit-transform: scale(0) rotate(360deg);
            transform: scale(0) rotate(360deg);
  }
  to {
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
/*# sourceMappingURL=popup.css.map */