@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$font_1: 'Bebas Neue', cursive;
$color_1 : black;
$color_2 : #2f2f2f;
